:root {
    font-size: 26px;
}

.h {
    display: none;
}
.hide {
    display: block;
}

.Link {
justify-content: space-between;
    margin-left: 0;
    width: 100%;
}

.Logo {
    width: 3.15rem;
    height: 0.95rem;
    margin-left: 1rem;
}

.second h1 {
    width: 60%;
    font-size: 2rem;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 180vh;
    margin: 1rem 1rem;

}
.parent .div2 img {
    width: 25%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.parent .div3 img {
    width: 25%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.parent .div4 img {
    width: 25%;
    
    margin-right: 2rem;
    margin-bottom:1rem;
}.parent div div h6 {
    font-size: 1rem;
    margin-top: 0;

    }
    .parent div div p {
    font-size: 15px;
    
    }
    

.div1 {
    grid-area: 1 / 1 / 7 / 2;
    display: block;
    
}

.div2 {
    grid-area: 7 / 1 / 8 / 2;
    display: flex;
    flex-direction:row;

}

.div3 {
    grid-area: 8 / 1 / 9 / 2;
    display: flex;
    flex-direction:row;

}

.div4 {
    grid-area: 9 / 1 / 10 / 2;
    display: flex;
    flex-direction:row;

}

.forth{
    height: 50vh;
    width: 100%;
    padding: 1rem;
    background: var(--primBlue--);
    margin: 1rem 0;

}

.cont{
    display: block;
    width: 100%;
    /* justify-content: space-around; */
}
.left{
    width: 100%;
}
.left h4{
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
.left p{
    font-size: 0.55rem;
    color: #ffffff;

}
.right{
    width: 100%;
padding-top: 1rem;

}
.right input{
width: 70%;
padding: 0.5rem 1rem;
border-radius: 7px;
}
.right button{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0 7px 7px 0;
    margin-left: -1rem;
    background-color: #437EF7;
    color: #ffffff;
    
}
.right p{
    color: #ffffff;
    font-size: 0.55rem;
}


/* gallary */
.gellery{
    padding: 1rem;
    height: 300vh;
    display: flex;
    justify-content: space-around;
flex-wrap: wrap;
}

.card{
    width: 39%;
    margin: 1rem;
}
.card img {
    width: 100%;
    margin-bottom: 0.8rem;
}
.card p {
margin: 1rem 0;
font-size: 0.5rem;
}
.card p {
    font-size: 0.1rem;

}
.post{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}


/* above footer */
.above-footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    background: var(--primBlue--);
}
.above-footer p{
color: #ffffff;
}
.above-footer h1{
    width: 68%;
    text-align: center;
    color: #ffffff;
    margin: 1rem 0;
    font-size: 1rem;

}
.above-footer button{
    padding: 0.7rem 1rem;
    border: none;
    margin: 1rem 0rem;
    border-radius: 7px;

}



















