<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- css index -->
    <link rel="stylesheet" href="/style/style.css">
    <!-- css tab -->
    <link rel="stylesheet" href="/resbonsive/styleTablet768px.css" media="(max-width:768px)">
    <!-- css phone -->
    <link rel="stylesheet" href="/resbonsive/stylePhone375px.css" media="(max-width:420px)">
</head>

<body>
    <!-- nav bar -->
    <nav class="fc">
        <div class="container fc">
            <div class="fc Link">
                <img class="Logo" src="/Assets/img/Company Logo.png" alt="Company Logo">
                <div class="h">
                    <ul class="link-List fc">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Products</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn h"> <button id="SignUp">Sign Up</button>
                <button id="LogIn">Log In</button>
            </div>
            <div class="hide">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <!-- banar  -->
        <div class="container fc">
            <section class="second fc">
                <p class="small-comment">1% OF THE INDUSTRY</p>
                <h1>Hype got you here. of it.
                    Stay for best ever help.</p>
            </section>
        </div>
    </nav>

    <!-- hero section -->
    <div class="parent">
        <div class="div1">
            <picture>
                <source media="(max-width:375px)" srcset="/Assets/img/Tooltib1.jpg" alt="card">
                <img src="/Assets/img/Tooltip.jpg" alt="card"> </picture>
            <div>
                <h6 class="sho">Reach your users with new tools. Reach your users with new tools.
                    Reach your users with new tools. </h6>
                <h6 class="ho">Reach your users with new tools.</h6>
                <p>Efficiently unleash cross-media information without cross-media value.
                    Quickly maximize.Efficiently
                    unleash cross-media information without
                    cross-media value. Quickly maximize.Efficiently unleash cross-media.</p>
                <p>25 Apr 2022 </p>
            </div>
        </div>
        <div class="div2">
            <img src="/Assets/img/Tooltip2.jpg" alt="card">
            <div>
                <h6>Reach your users with new tools</h6>
                <p class="h">Efficiently unleash cross-media information
                    without cross-media value.
                    Quickly maximize.</p>
                <p class="hide sho">Efficiently unleash cross-media information without cross-media value.
                    Quickly maximize
                    timely deliverables for real-time.
                    Dramatically clicks-and-mortar solutions without functional solutions you need.</p>
                <p class="ho">Completely synergize resource taxing relationships via premier niche markets.
                    Professionally cultivate one-to-one customer service with robust ideas.
                    Generated user generated content in real-time multiple touchpoints.</p>
                <p>25 Apr 2022 </p>
            </div>
        </div>
        <div class="div3">
            <img src="/Assets/img/Tooltib3.jpg" alt="card">
            <div>
                <h6> Faster ways to reach your customer</h6>
                <p class="h">Completely synergize resource taxing relationships
                    via premier niche markets.</p>
                <p class="hide sho">Completely synergize resource taxing relationships via premier niche markets.
                    Professionally cultivate one-to-one customer service with robust ideas.
                    User generated content will have multiple touchpoints for offshoring</p>
                <p class="ho">Efficiently cross-media information without cross-media value.
                    Quickly maximize timely deliverables for real-time schemas.
                    Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                <p>25 Apr 2022 - Blog theme </p>
            </div>
        </div>
        <div class="div4">
            <img src="/Assets/img/Tooltib4.jpg" alt="card">
            <div>
                <h6>Revolutionizing the Design Industry</h6>
                <p class="h">Efficiently unleash cross-media information without
                    cross-media value.
                    Quickly maximize.</p>
                <p class="hide">Efficiently unleash cross-media information without cross-media value.
                    Quickly maximize timely deliverables for schemas users.
                    Podcasting operational change inside of workflows inside a framework seamless management inside of
                    workflows.</p>
                <p class="ho">Dynamically innovate resource-leveling customer service for state of the art customer
                    service.
                    Seamlessly fully researched growth strategies and interoperable internal or "organic" sources.</p>
                <p>25 Apr 2022 - Blog theme </p>

            </div>
        </div>
    </div>

    <!-- contact -->
    <section class="forth fc">
        <div class="cont">
            <div class="left">
                <h4>Welcome to your new digital reality that will rock your world.</h4>
                <p>Let us help you take you from zero to serious business and beyond. </p>
                <p>Our no-strings attached free trial lets you test our product today.</p>
            </div>
            <div class="right">
                <input type="text" name="" id="" placeholder="Enter your email"><br class="ho">
                <button class="LogIn">Submit</button><br>
                <p class="sho">Subscribe to our newsletter</p>
            </div>
        </div>

    </section>

    <!-- card -->
    <h3 class="post">Latest Blog Posts</h3>
    <div class="gellery ">

        <div class="card">
            <img src="/Assets/img/card1.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a new methodology and there.</h3>
            <div class="blue">Learn more</div>
        </div>
        <div class="card">
            <img src="/Assets/img/card2.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a methodology here and there.</h3>
            <div class="blue">Learn more </div>
        </div>
        <div class="card">
            <img src="/Assets/img/card3.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a new methodology here and there.</h3>
            <div class="blue">Learn more </div>
        </div>
        <div class="card">
            <img src="/Assets/img/card4.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a new methodology and there.</h3>
            <div class="blue">Learn more </div>
        </div>
        <div class="card">
            <img src="/Assets/img/card5.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a methodology here and there.</h3>
            <div class="blue">Learn more </div>
        </div>
        <div class="card">
            <img src="/Assets/img/card6.jpg" alt="">
            <p>25 Apr 2022 </p>
            <h3>Organize your digital assets with a new methodology here and there.</h3>
            <div class="blue">Learn more </div>
        </div>
    </div>

    <!--above footer  -->
    <div class="above-footer ">
        <p> 1% OF THE INDUSTRY</p>
        <h1>Welcome to your new digital reality that
            which will rock your world truly at all.</h1>
        <button id="SignUp">Sign Up</button>

    </div>
    <!-- end -->
</body>

</html>